$categories-bar-item-padding-x: 2rem;
$categories-bar-item-padding-y: 0.875rem;
$categories-bar-item-font-size: 1.125rem;

.categories-bar {
  border-bottom: 2px solid $border-color;
  justify-content: center;

  &__item {
    text-transform: uppercase;
    font-weight: 400;
    font-size: $categories-bar-item-font-size;
    font-family: $font-family-base;
  }

  &__link {
    color: $navbar-light-color;
    padding: $categories-bar-item-padding-y $categories-bar-item-padding-x;
    &:hover {
      color: $navbar-light-hover-color;
    }
    &:active, &:focus {
      color: $navbar-light-active-color;
    }
  }
}
